.movie {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 1rem;
  min-height: 350px;
}

.card {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.card:hover .movie_details {
  bottom: 0;
  transition: all 0.5s;
}

.card:hover .poster:before {
  bottom: 0;
}

.card:hover .poster img {
  filter: blur(2px);
  transform: translateY(-40px);
}

.card .poster {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 150%;
}

.card .poster img {
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 0;
  margin-bottom: 0;
}

.card .poster:before {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.808) 60%, transparent);
  height: 100%;
  width: 100%;
  z-index: 1;
  bottom: 0;
  bottom: -100%;
  left: 0;
  transition: 0.5s;
}

.movie_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  padding: 15px;
  width: 100%;
  height: 82%;
  box-sizing: border-box;
  left: 0;
  bottom: -400px;
  z-index: 2;
  transition: all 0.4s ease;
}

.movie_details h2 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.movie_details p {
  color: #cccccc; /* 设置文字为灰色 */
}

/* // 页面宽度大于700小于900样式 */
@media screen and (min-width: 700px) and (max-width: 900px) {
  .movie {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    min-height: 250px;
    margin-top: 3rem;
  }
}

/* // 页面宽度小于700样式 */
@media (max-width: 700px) {
  .movie {
    width: 100%;
    margin-left: 0;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    min-height: 200px;
    margin-top: 0.5rem;
  }
}
